body{
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 100%;
    margin: 0;    
}

.cabecalho{
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabecalho img{
    position: relative;
    height: 80%;
    width: auto;
}

.cabecalho b{
    font-size: 20pt;
    color: #334b58;
    text-shadow:1px 1px 5px white, 1px 1px 5px white, 1px 1px 5px white, 1px 1px 5px white, 1px 1px 5px white, 1px 1px 5px white;
}

.div_botoes{
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.div_botoes input[type=button]{
    position: relative;
    width: 200px;
    height: 30px;
    background-color: rgb(220, 220, 220);
    border-radius: 20px;
    margin: 0 20px;
    cursor: pointer;
    font-size: 12pt;
    transition: 0.2s;
}

.div_botoes input[type=button]:hover{
    color: white;
    background-color: #81a7be;
    font-weight: bolder;
}

.div_banner{
    position: absolute;
    width: 100%;
    height: calc(100% - 310px);
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: red; */
}

.div_banner img{
    position: absolute;
    width: 90%;
}

#banner{
    transition: 0.2s;
}